//THEMIFY
@import "../themify-icons/themify-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

[x-cloak] {
    display: none;
}

$themeBlue: #1e2d7d;
$themeTaqu: #33c8e2;

$themeWhite: #f3f5f6;
$themeDark: #677279;

$generalPadding: 0 50px;
$reachUsHeight: 42px;
$brandMinHeight: 84px;

html,
body {
    @apply p-0 m-0;
    box-sizing: border-box;
    font-family: "DIN Next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.87;
}

body {
    // background: $themeWhite;
    @apply bg-primary-3;
}

// GLOBALS

.scecomm-container {
    padding: $generalPadding;
}

.title-action {
    @apply flex justify-between;

    h3 {
        @apply text-2xl text-primary-1;
    }

    a {
        @apply font-bold text-base text-primary-2;
    }
}

// GLOBALS END
.discounts-special-offers {
    background-color: $themeWhite;
    height: 40vh;
    width: 100%;
    @apply flex flex-col justify-center items-center;

    .close-btn {
        cursor: pointer;

        i.ti-close {
            font-size: 24px;
            color: #111111;
            margin-bottom: 10px;

            &:hover {
                background: rgba(red, 0.4);
                padding: 12px;
                border-radius: 50%;
            }
        }
    }

    h2 {
        @apply text-primary-1 text-center w-full text-3xl  font-semibold;
    }

    p {
        @apply text-primary-4 text-center w-full text-lg;
    }

    form {
        @apply w-1/2 flex justify-center;

        input {
            width: 50%;
            height: 100%;
            @apply p-3 rounded mb-2;
        }
        button {
            @apply bg-primary-2 text-primary-3 rounded ml-2 py-2 px-5;
        }
    }
}

header.breadcrumbs {
    @apply my-5 text-primary-4 text-sm;
}

// end globals

// NAVBAR
.navbar-wrapper {
    header {
        background-color: $themeBlue;

        .reach-us {
            @apply flex justify-between items-center;

            padding: $generalPadding;
            height: $reachUsHeight;
            border-bottom: 1px rgba($themeWhite, 0.4) solid;

            .contact-info {
                color: $themeWhite;
            }

            button {
                @apply flex justify-between items-center;
                border: none;
                background-color: $themeTaqu;
                color: $themeWhite;
                height: 100%;
                padding: calc(#{$reachUsHeight} / 2);
            }
        }

        .brand-name-search {
            @apply flex justify-between items-center;

            padding: $generalPadding;
            min-height: $brandMinHeight;
            width: 100%;

            span {
                font-size: 20px;
                color: $themeWhite;
            }

            form {
                @apply flex justify-between;
                width: 85%;
                height: 44px;
                overflow: hidden;
                @apply bg-primary-3 rounded-md;

                input {
                    width: 79%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 0 10px;

                    &:focus {
                        outline: none;
                    }
                }

                select {
                    width: 15%;
                    background-color: transparent;
                    border: none;
                }
                button {
                    border: none;
                    @apply flex justify-center items-center bg-primary-2;
                    width: 5%;
                    height: 100%;

                    i {
                        color: white;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    nav {
        @apply flex justify-between items-center bg-white;
        height: 64px;
        border-bottom: 1px rgba($themeDark, 0.4) solid;
        padding: $generalPadding;
        width: 100%;

        ul {
            display: flex;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $themeDark;
                    font-size: 16px;
                }

                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
}

section.showcase {
    height: 380px;
    .showcase-content {
        max-width: 50%;
        height: 100%;
        @apply flex flex-col justify-center;

        h2 {
            @apply text-primary-1 font-semibold;
            font-size: 30px;
        }

        p {
            @apply text-primary-1;
            font-size: 14px;
        }

        button {
            @apply border-none bg-primary-2 text-primary-3 py-3 w-1/6 mt-2 rounded;
        }
    }
}

section.products-view {
    @apply mt-16;

    .product-list {
        background: white;
        border: 1px rgba($themeDark, 0.4) solid;

        @apply w-full rounded-md flex mt-5;

        .product {
            height: 390px;
            @apply w-1/6 p-4 flex flex-col justify-between;

            img {
                max-height: 60%;
            }

            &-info {
                height: 40%;
                @apply pt-5 flex flex-col gap-2;

                h4 {
                    color: $themeDark;
                    text-transform: uppercase;
                    @apply text-sm;
                }

                h3 {
                    @apply text-primary-1 text-base font-semibold;
                }

                p {
                    @apply text-primary-2 text-xl;
                }
            }

            &:not(:last-child) {
                border-right: 1px rgba($themeDark, 0.4) solid;
            }
        }
    }
}

section.filterable.products-view {
    @apply m-0;

    header.product-actions {
        @apply flex flex-col  justify-between px-7 py-6;

        border-bottom: 1px rgba($themeDark, 0.4) solid;
        height: 120px;

        h3 {
            @apply text-2xl text-primary-1 font-semibold;
        }

        .sorting {
            @apply flex justify-between items-center;

            .products-shown {
                @apply text-primary-4;
            }

            .per-page-group {
                @apply text-primary-4;

                label.per-page-select {
                }

                select.per-page-select {
                    @apply border-0  text-primary-4 text-center h-10 px-2 bg-white  focus:outline-none appearance-none;
                }
            }

            .sort-group {
                @apply text-primary-4;

                label.sort-by-select {
                }

                select.sort-by-select {
                    @apply border-0  text-primary-4 text-center h-10 px-2 bg-white focus:outline-none appearance-none;
                }
            }

            .product-view-style {
                @apply text-primary-4;

                i {
                    @apply ml-3;

                    &.active {
                        @apply text-primary-1;
                    }
                }
            }
        }
    }

    .product-list {
        background: white;
        border: none !important;

        @apply w-full rounded-md flex  flex-wrap m-0;

        .product {
            height: 390px;
            @apply w-1/2 lg:w-1/3 xl:w-1/4 p-4 flex flex-col justify-between cursor-pointer;
            border-bottom: 1px rgba($themeDark, 0.4) solid;

            img {
                max-height: 60%;
            }

            &-info {
                height: 40%;
                @apply pt-5 flex flex-col gap-2;

                h4 {
                    color: $themeDark;
                    text-transform: uppercase;
                    @apply text-sm;
                }

                h3 {
                    @apply text-primary-1 text-base font-semibold;
                }

                p {
                    @apply text-primary-2 text-xl;
                }
            }

            &:not(:first-child) {
                border-left: 1px rgba($themeDark, 0.4) solid;
            }
        }
    }
}

section.shop-by-category {
    @apply mt-16;

    .category-list {
        @apply w-full rounded-md flex mt-5;

        .category {
            @apply w-1/6 p-4 flex flex-col justify-between;

            img {
                height: 206px;
                width: 206px;
                @apply rounded-full;
                transition: all 2s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }
            h3 {
                @apply text-primary-1 text-center w-full text-base mt-5 font-semibold;
            }
        }
    }
}

section.our-assurances {
    @apply mt-16 flex w-full;

    .assurance {
        @apply w-1/4 p-4 flex;

        i {
            @apply text-primary-1 mr-3;
            font-size: 3rem;
        }

        .claim {
            @apply flex flex-col gap-1;

            h3 {
                @apply text-primary-1  w-full text-base;
            }

            p {
                @apply text-primary-4  w-full text-base;
            }
        }
    }
}

section.divider-section {
    @apply flex justify-center items-center;

    hr {
        background: $themeDark;
        height: 1px;
    }
}

footer {
    @apply flex justify-between mt-16 mb-5;

    height: 50vh;

    .info {
        width: 70%;

        @apply flex flex-col justify-between;

        .drive {
            h3 {
                @apply text-primary-1   text-base;
            }

            p {
                @apply text-primary-4 mt-5;
                font-size: 16px;
                span {
                    @apply text-primary-1   text-base;
                }
            }
        }

        .copyright {
            @apply text-primary-4;
            font-size: 20px;
        }
    }

    .footer-links {
        width: 20%;

        h3 {
            @apply text-primary-1   text-base;
        }

        ul {
            @apply flex flex-col gap-2;

            li {
                a {
                    @apply text-primary-4;
                    font-size: 16px;
                }
            }
        }
    }
}

// COLLECTIONS

main.collections-wrapper {
    @apply bg-primary-3;

    // min-height:70vh;

    div.collections {
        @apply flex justify-between gap-10;

        aside.collections-filters {
            @apply bg-white p-5 w-3/12 lg:w-1/5 rounded-md;
            min-height: 100px;
            border: 1px rgba($themeDark, 0.4) solid;

            h1 {
                @apply text-primary-1 text-2xl font-semibold;
            }

            .filter-group {
                @apply my-6;

                h3.title {
                    @apply text-primary-1 text-base font-semibold;
                }

                .filter-list {
                    @apply my-2;

                    .filter {
                        input {
                        }

                        label {
                        }
                    }
                }
            }
        }

        section.collections-products {
            border: 1px rgba($themeDark, 0.4) solid;

            @apply bg-white w-9/12 lg:w-4/5 rounded-md h-auto;
        }
    }
}

// COLLECTIONS end

// PRODUCT VIEW

section.product-view {
    @apply flex justify-between gap-8;
    max-height: 70vh;

    .product-images {
        @apply w-6/12 bg-white flex justify-center rounded-md;
             border: 1px rgba($themeDark, 0.4) solid;       

        img {
            @apply p-5 w-full object-contain;
        }
    }

    .detail-snaps{
        @apply w-6/12;

        aside.product-details {
            @apply  p-8  bg-white rounded-md;
            border: 1px rgba($themeDark, 0.4) solid;
            max-height: 30vh;
    
            .info {
                border-bottom: 1px rgba($themeDark, 0.4) solid;
    
                h1 {
                    @apply text-primary-1 text-3xl font-semibold;
                }
    
                .share-brand {
                    @apply flex justify-between my-4;
    
                    .brand {
                        @apply uppercase text-primary-4;
                    }
    
                    .share {
                        @apply text-primary-4 hover:text-primary-1;
                    }
                }
            }
    
            .price-purchase {
                @apply py-4 flex justify-between items-center;
    
                .price{
                    label{
                        @apply text-primary-1 font-semibold;
                    }
    
                    span{
                        @apply text-primary-2 text-xl font-semibold;
                    }
                }
    
                .quantity {
                    label{
                        @apply text-primary-1 font-semibold;
                    }
    
                    select{
                        @apply text-primary-1 font-semibold;
                    }
                }
    
                button{
                    @apply text-white bg-primary-1 text-center w-2/6 rounded-lg flex justify-center items-center px-8 py-3 font-semibold; 

                    span{                       
                       
                        .cart-icon{
                            @apply ml-1  ;
                        }  
                    }

                    &:hover{
                        span{                       
                       
                            .cart-icon{
                                @apply ml-1 opacity-0 animate-cart;
                            }  
                        }
                    }
                  

                 
                }
            }
        }

        .snapshots {
            @apply w-full p-2 mt-5 flex flex-row flex-wrap gap-1;

            img {
                @apply h-20  p-1 bg-primary-3 hover:bg-primary-2;
            }
        }
    }
}

// PRODUCT VIEW end
